name: CI

on:
    pull_request:
    push:
        branches: [main]

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3
              with:
                  version: 9

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'

            - name: Install deps
              run: pnpm install

            - name: Build all apps
              run: pnpm turbo run build

            - name: Run E2E tests
              run: pnpm turbo run test:e2e
