name: Host CI
on:
    push:
        paths:
            - 'apps/host/**'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2
              with:
                  version: 9
            - run: pnpm install
            - run: pnpm --filter @mf/host build
            - run: pnpm --filter @mf/host test:e2e
            - run: echo "Deploy to Vercel here"
